---
import { getBlogs, getBlogDetail } from "../../library/microcms";
import Layout from "../../layouts/Layout.astro";
import { fade } from "astro:transitions";

export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id"] });

  return response.contents.map((blog) => {
    return {
      params: {
        blogId: blog.id,
      },
    };
  });
}

const { blogId } = Astro.params;

const blog = await getBlogDetail(blogId, { fields: ["title", "thumbnail", "content", "publishedAt"] });
---

<Layout title={blog.title}>
  <h1>{blog.title}</h1>
  <p class="publishedAt">公開日時：{blog.publishedAt.substring(0, 10)}</p>
  <div>
    <figure transition:name={blogId}>
      <img src={blog.thumbnail?.url} width={blog.thumbnail.width} height={blog.thumbnail.height} />
    </figure>
    <div class="blogContent" set:html={blog.content} />
  </div>
</Layout>
