---
import { getBlogs } from "../library/microcms";
import Layout from "../layouts/Layout.astro";
import { fade } from "astro:transitions";
const response = await getBlogs({ fields: ["id", "title", "thumbnail"] });
---

<Layout>
  <ul>
    {
      response.contents.map((blog) => {
        return (
          <li>
            <a href={`/blog/${blog.id}`}>
              <>
                <figure transition:name={blog.id}>
                  <img src={blog.thumbnail?.url} width={blog.thumbnail.width} height={blog.thumbnail.height} />
                </figure>
                <h2>{blog.title}</h2>
              </>
            </a>
          </li>
        );
      })
    }
  </ul>
</Layout>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  figure {
    aspect-ratio: 16/9;
  }
</style>
